/* Typograpy */
:root {
  --color-primary: #2584ff;
  --color-secodary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #c7c5ce;
  --border-radius: 30px;
  --border-color: #ccc;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 10rem;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 0.5rem;
}
h1 {
  font-size: 4.4rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.8rem;
}
p {
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

/* Links */
a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-accent);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.5s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}
@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 0.9rem;
  }
}
/* Badge */
.badge {
  border-radius: 20px;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
  font-size: 1.25rem;
}
.badge--primary {
  background-color: var(--color-primary);
  color: white;
}
.badge--secondary {
  background-color: var(--color-secodary);
  color: white;
}
.badge--small {
  font-size: 1rem;
}
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1rem;
  }
  .badge--small {
    font-size: 0.8rem;
  }
}
/* Lists */
.list {
  list-style: none;
  color: var(--color-heading);
}
.list--inline .list__item {
  display: inline-block;
  padding-left: 1rem;
}
.list--tick {
  list-style-image: url(/images/tick.svg);
  padding-left: 3rem;
}
.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}
/* Icons */
.icon {
  width: 40px;
  height: 40px;
}
.icon--primary {
  fill: var(--color-primary);
}
.icon-container {
  background-color: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
/* Buttons */
.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
.btn--primary {
  background-color: var(--color-primary);
  color: white;
}
.btn--primary:hover {
  background-color: #240689;
}
.btn--secondary {
  background-color: var(--color-secodary);
  color: white;
}
.btn--secondary:hover {
  background-color: #38dffc;
}
.btn--accent {
  background-color: var(--color-accent);
  color: white;
}
.btn--accent:hover {
  background-color: #fb704d;
}
.btn--outline {
  background-color: white;
  color: var(--color-heading);
  border: 2px solid var(--color-heading);
}
.btn--outline:hover {
  background-color: var(--color-heading);
  color: white;
}
.btn--block {
  width: 100%;
  display: inline-block;
}
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 0.9rem;
  }
}
/* Inputs */
.input {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 0.7rem 2rem;
  outline: 0;
  font-size: 1.5rem;
  color: var(--color-heading);
}
::placeholder {
  color: #cdcbd7;
}

.input-group {
  display: flex;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}
.input-group .input {
  flex-grow: 1;
  border: 0;
  padding: 1.2rem 0.9rem;
}
.input-group .btn--accent {
  margin: 4px;
}
@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.2rem;
  }
}
/* Cards */
.card {
  border-radius: 10px;
  box-shadow: 0 0 20px 30px #f3f3f3;
  overflow: hidden;
}
.card__header,
.card__body {
  padding: 2rem 3rem;
}
.card--primary .card__header {
  background-color: var(--color-primary);
  color: white;
}
.card--secondary .card__header {
  background-color: var(--color-secodary);
  color: white;
}
