/* Typograpy */
:root {
  --color-primary: #2584ff;
  --color-secodary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #c7c5ce;
  --color-body-darker: #5c5577;
  --border-radius: 30px;
  --border-color: #ccc;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 1.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 0.5rem;
  line-height: 1.1;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.8rem;
}
p {
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

/* Links */
a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-accent);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.5s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}
@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 0.9rem;
  }
}
/* Badge */
.badge {
  border-radius: 20px;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
  font-size: 1.25rem;
}
.badge--primary {
  background-color: var(--color-primary);
  color: white;
}
.badge--secondary {
  background-color: var(--color-secodary);
  color: white;
}
.badge--small {
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
}
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1rem;
  }
  .badge--small {
    font-size: 0.8rem;
  }
}
/* Lists */
.list {
  list-style-type: none;
  color: var(--color-heading);
}
.list--inline .list__item {
  display: inline-block;
  padding-left: 1rem;
}
.list--tick {
  list-style-image: url(/images/tick.svg);
  padding-left: 3rem;
}
.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}
/* Icons */
.icon {
  width: 40px;
  height: 40px;
}
.icon--small {
  width: 30px;
  height: 30px;
}
.icon--primary {
  fill: var(--color-primary);
}
.icon--white {
  fill: white;
}
.icon-container {
  background-color: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.icon-container--accent {
  background-color: var(--color-accent);
}
/* Buttons */
.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  padding: 0.625rem 1.87rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
.btn .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}
.btn--primary {
  background-color: var(--color-primary);
  color: white;
}
.btn--primary:hover {
  background-color: #240689;
}
.btn--secondary {
  background-color: var(--color-secodary);
  color: white;
}
.btn--secondary:hover {
  background-color: #38dffc;
}
.btn--accent {
  background-color: var(--color-accent);
  color: white;
}
.btn--accent:hover {
  background-color: #fb704d;
}
.btn--outline {
  background-color: white;
  color: var(--color-heading);
  border: 2px solid var(--color-heading);
}
.btn--outline:hover {
  background-color: var(--color-heading);
  color: white;
}
.btn--block {
  width: 100%;
  display: inline-block;
}
.btn--long {
  padding-left: 6rem;
  padding-right: 6rem;
}
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 0.9rem;
  }
}
/* Inputs */

.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  color: var(--color-heading);
  font-size: 1.5rem;
  outline: 0;
  padding: 0.9rem 2.2rem;
}
::placeholder {
  color: #cdcbd7;
}
.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}
.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.2rem 2rem;
}
.input-group .btn {
  margin: 4px;
}
@media screen and (min-width: 768px) {
  .input {
    font-size: 1.2rem;
  }
}
/* Cards */
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}
.card__header,
.card__body {
  padding: 1.25rem 1.875rem;
}
.card--primary .card__header {
  background-color: var(--color-primary);
  color: white;
}
.card--secondary .card__header {
  background-color: var(--color-secodary);
  color: white;
}
.card--primary .badge--primary {
  background-color: #126de4;
}
.card--secondary .badge--secondary {
  background-color: #02cdf1;
}
/* Plans */
.plan {
  transition: transform 0.3s;
}
.plan__name {
  color: white;
  margin: 0;
  font-weight: 600;
  font-size: 1.5rem;
}
.plan__price {
  font-size: 3.75rem;
}
.plan__billingcycle {
  margin-right: 0.62rem;
  font-size: 1.5rem;
  font-weight: 300;
  opacity: 80%;
}

.plan__description {
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}
.plan .list__item {
  margin-bottom: 1.25rem;
}
.plan--popular {
  transform: scale(1.05);
}
.plan--popular .card__header::before {
  content: url(/images/popular.svg);
  display: inline-block;
  width: 40px;
  position: absolute;
  top: -6px;
  right: 3%;
}
.plan--popular .card__header {
  position: relative;
}
.plan:hover {
  transform: scale(1.15);
}
.plan--popular:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 0.9rem;
  }
  .plan__price {
    font-size: 3.12rem;
  }
  .plan__billingcycle {
    font-size: 1rem;
  }
  .plan__description {
    font-size: 1.1rem;
  }
}
/* Media Objects */
.media {
  display: flex;
}
.media__title {
  margin-top: 0;
}
.media__body {
  margin: 0 2rem;
}
.media__image {
  margin-top: 1rem;
}
/* Quotes */
.quote {
  font-size: 1.87rem;
  color: var(--color-body-darker);
}
.quote__text {
  line-height: 2rem;
  font-style: italic;
}
.quote__text::before {
  content: open-quote;
}
.quote__text::after {
  content: close-quote;
}
.media__body {
  margin-left: 0.5rem;
}
.media__title {
  white-space: nowrap;
  margin-top: 1rem;
  font-weight: 500;
  margin-bottom: 0;
}
.media__company {
  opacity: 40%;
  font-size: 1rem;
}
@media screen and (min-width: 1024px) {
  .quote {
    font-size: 1.5rem;
  }
  .media__title {
    font-size: 1.5rem;
  }
  .media__company {
    font-size: 1rem;
  }
}
/* Grids */
.grid {
  display: grid;
}
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* Testmonials */
.testimonial {
  padding: 1.8rem;
}
.testimonial__image > img {
  width: 100%;
}
.testimonial__image {
  position: relative;
  margin: 0 2.5rem;
}
.testimonial__image > .icon-container {
  position: absolute;
  top: 2rem;
  right: -32px;
}
@media screen and (min-width: 768px) {
  .testimonial__image {
    margin: 0;
  }
  .testimonial .quote,
  .testimonial .media__title {
    font-size: 1.5rem;
  }
  .testimonial .quote {
    margin-left: 3.5rem;
    margin-right: 0;
  }
}
/* Callouts */
.callout {
  padding: 2rem;
  border-radius: 5px;
}
.callout--primary {
  background-color: var(--color-primary);
  color: white;
}
.callout__heading {
  color: white;
  margin-top: 0;
  white-space: nowrap;
  font-size: 2rem;
}
.callout .btn {
  justify-self: center;
  align-self: center;
}
.callout__context {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .callout .grid {
    grid-template-columns: 1fr auto;
  }
  .callout__context {
    text-align: left;
  }
  .callout .btn {
    justify-self: start;
    margin-left: 2rem;
  }
}
/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}
.collapsible__heading {
  margin-top: 0;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}
.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.5s;
}
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}
.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}
/* Blocks */
.block {
  --padding-vertical: 3.75rem;
  padding: var(--padding-vertical) 1.25rem;
}
.block__header {
  text-align: center;
}
.block__heading {
  margin-top: 0;
}
.block--black {
  background-color: #000;
  color: #7b858b;
}
.block--black .block__heading {
  color: white;
}
.block--skewed-right {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}
.block--skewed-left {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
/* Navigator bars */
.nav {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
}
.nav__list {
  list-style-type: none;
  width: 100%;
  margin: 0;
}
.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}
.nav__item > a {
  color: #d2d0db;
  margin: 1;
  transition: color 0.3s;
}
.nav__item > a:hover {
  color: white;
}
.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.3s;
  cursor: pointer;
}
.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 2px #666;
  border-radius: 5px;
}
.nav__brand {
  transform: translateY(5px);
}
@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }
  .nav__list {
    width: auto;
    display: flex;
    font-size: 1rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border: 0;
  }
}
/* Heroes */
.hero {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
.hero__tagline {
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: #b9c3cf;
  margin: 1rem 0 3rem;
}
.hero__image {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero__heading {
    font-size: 3.6rem;
  }
  .hero {
    padding-top: 0;
  }
  .hero__content {
    text-align: left;
    align-self: center;
  }
}
/* Domain blocks */
.block-domain .input-group {
  box-shadow: 0 0 30px 20px #e6ebee;
  border: 0;
  margin: 2.5rem auto;
  max-width: 670px;
}
.block-domain__prices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 3.75rem);
  font-size: 1.2rem;
  font-weight: 600;
  justify-items: center;
  max-width: 700px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .block-domain__prices {
    grid-template-columns: repeat(auto-fit, minmax(6.25rem, 1fr));
  }
}
/* Plan blocks */
.block-plans .grid {
  gap: 5rem 3rem;
}
.block-plans .card {
  max-width: 500px;
  margin: 0 auto;
}
/* Features */
.feature {
  gap: 2.5rem 1.25rem;
  margin: 7.5rem 0;
}
.feature:first-of-type {
  margin-top: 4rem;
}
.feature__heading {
  margin: 0.8rem 0;
}
.feature__image {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature__content {
    order: 2;
  }
}
